body{
	width: 100%;
}
header{
	background-color: #333;
	animation-name: banner;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}
header > h1{
	text-align: center;
	font-size: 50px;
	padding: 50px;
	color: white;
}
@keyframes banner{
	0%   {background-color:red}
  	25%  {background-color:#333}
  	50%  {background-color:black}
  	75%  {background-color:#333}
  	100% {background-color:red}
}
nav{}
nav > ul{
	background-color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav > ul > li{
	float: left;
}
nav > ul > li > a{
  	color: white;
  	display: block;
  	text-align: center;
  	padding: 15px;
  	text-decoration: none;
  	width: 100px;
}
nav > ul > li > a:hover{
	background-color: red;
}
nav > ul > li  > a:hover(.derecha) {
  background-color: red;
}
.derecha {
  background-color: #4CAF50;
}

/*INDEX*/

main{
	width: 100%;
	display: table;
}
.sidenav {
  	height: 760px;
  	position: relative;
	background-color: black;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: auto;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.sidenav a {
  	color: white;
  	display: block;
  	text-align: center;
  	padding: 15px;
  	text-decoration: none;
  	width: 100px;
}
.sidenav a:hover{
	background-color: red;
}
.principal{
	width: 75%;
	float: left;
	position: relative;
}
article{
	border: 5px solid red;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
	text-align: left;
}
h2{
	margin: 10px;
}
p{
	margin: 10px;
}
img{
	width: 150px;
	height: 100px;
	overflow: auto;
	float: right;
	margin: 15px;
}
aside{
	width: 20%;
	margin-right: 40px;
	margin-top: 10px;
	float: right;
	background-color: #333;
	border: 5px solid red;
}
h3{
	color: red;
}
iframe{
	margin-bottom: 30px;
	width: 250px;
}

footer{
	background-color: black;
}
.footer1{
	float: left;
	margin-left: 20%;
	padding: 10px;
}
.footer2{
	display: inline-block;
	margin-left: 12.5%;
	padding: 10px;
}
.footer3{
	display: inline-block;
	float: right;
	margin-right: 20%;
	padding: 10px;
}
footer > .footer1 > a {
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 10px;
}
footer > .footer2 > a {
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 10px;
}
footer > .footer3 > a {
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 10px;
}
footer > p {
	color: white;
	text-align: center;
	padding: 10px;
	background-color: #333;
}
footer > .footer1 > a:hover{
	color: red;
}
footer > .footer2 > a:hover{
	color: red;
}
footer > .footer3 > a:hover{
	color: red;
}


/*FORMULARIO*/

form{
	margin: 10px;
}
fieldset{
	width: 30%;
	background-color: #333;
	color: red;
}
form > fieldset > h2{
	color:red;
}
label{
	font-weight: bold;
	font-size: 10px;
}
input{
	border-radius: 5px;
	width: 300px;
	height: 30px;
	font-size: 10px;
	margin: 5px;
	text-align: center;
}
textarea{
	border-radius: 5px;
	width: 300px;
	height: 150px;
}
input[type=submit]{
	background-color: black;
	color: white;
}
input[type=reset]{
	background-color: black;
	color: white;
}
input[type=submit]:hover{
	background-color: red;
}
input[type=reset]:hover{
	background-color: red;
}

/*CATALOGO*/
.catalogo{
	border: 5px solid red;
	margin-top: 10px;
	margin-bottom: 10px;
}
.producto{
	border: 5px solid red;
	display: inline-block;
	margin: 30px;
	width: 400px;
}
.img_producto{
	float: left;
	height: 190px;
}
.nombre_producto{
	text-align: center;
	margin: 20px;
	font-size: 30px;
}
.plataforma{
	text-align: center;
	margin: 20px;
	font-size: 30px;
}
.precio{
	text-align: center;
	margin: 20px;
	font-size: 35px;
	color: green;
}
